<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Special Promotion</title>
    <!-- เชื่อมโยงไฟล์ CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <!-- เชื่อมโยงไฟล์ JavaScript -->
    <script src="{{ url_for('static', filename='/js/frontend.js') }}" defer></script>
</head>

<body>

    <h1 id="title">Product Details</h1>

    <div id="scraper-form">
        <input type="text" id="productId" placeholder="Enter Product ID (e.g., A0156029)" required>

        <!-- ฟอร์มการเลือก -->
        <label for="cpuSelect">CPU:</label>
        <select id="cpuSelect">
            <option value="">--Select CPU--</option>
            <option value="">Core i3</option>
            <option value="{{ url_for('static', filename='/img/Core_i5.png') }}">Core i5</option>
            <option value="{{ url_for('static', filename='/img/Core_i7.png') }}">Core i7</option>
            <option value="{{ url_for('static', filename='/img/ryzen3.png') }}">Ryzen 3</option>
            <option value="{{ url_for('static', filename='/img/ryzen5.png') }}">Ryzen 5</option>
            <option value="{{ url_for('static', filename='/img/ryzen7.png') }}">Ryzen 7</option>
        </select>

        <label for="windowsSelect">Windows:</label>
        <select id="windowsSelect">
            <option value="">--Select Windows--</option>
            <option value="{{ url_for('static', filename='/img/windows-10.png') }}">Windows 10</option>
            <option value="{{ url_for('static', filename='/img/windows-11.png') }}">Windows 11</option>
        </select>

        <label for="officeSelect">Microsoft Office:</label>
        <select id="officeSelect">
            <option value="">--Select Office--</option>
            <option value="{{ url_for('static', filename='/img/Office.png') }}">Office 2019</option>
            <option value="{{ url_for('static', filename='/img/Office.png') }}">Office 365</option>
        </select>

        <!-- ฟอร์มราคาตั้งค่า -->
        <div id="price-form">
            <label for="fullPrice">ราคาเต็ม</label>
            <input type="text" id="fullPrice" placeholder="Enter Full Price" required>
            <label for="discountPrice">ราคาปรับลด</label>
            <input type="text" id="discountPrice" placeholder="Enter Discount Price">
        </div>
        <button onclick="fetchProductData()">Fetch Product Data</button>
    </div>

    <div class="container" style="display: none;">
        <div class="header">
            <img src="{{ url_for('static', filename='/img/434648116_944479041010917_203762620117639066_n.jpg') }}" alt="">
        </div>

        <div class="left-top">
            <img id="cpuImg" src="" alt="CPU Image">
        </div>

        <div class="center-main" id="product-images">
        </div>

        <div class="right-top">
            <img id="windowsImg" src="" alt="Windows Image">
        </div>

        <div class="right-middle">
            <img id="officeImg" src="" alt="Office Image">
        </div>

        <div class="logo" id="product-code"></div>

        <div class="text-long">
            <ul id="product-features"></ul>
        </div>

        <div class="price-left-top" id="price-left-top"></div>
        <div class="price-left" id="price-left"></div>
    </div>

</body>

</html>
